@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 23px;
  color: #333333;
  font-weight: 500;
  background-color: #fff;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
}
header .container {
  max-width: 100%;
  padding: 0 15px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section-heading {
  font-size: 30px;
  line-height: 1.284em;
  font-weight: 700;
  color: #202020;
	padding-bottom: 20px;
}
.description p {
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  color: #797979;
  font-size: 16px;
}
.py-80 {
  padding: 80px 0;
}
.py-60 {
  padding: 60px 0;
}
.hashtag p {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 700;
  color: #0c7ecf;
  text-align: center;
}
.page-title {
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  line-height: 1.884em;
}
.gray-bg {
  background-color: #f5f5f5;
}
.blue-bg {
  background-color: #f0ffff;
}
.dark-blue-bg{
  background-color: #2C7FFB;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #F9AB1B;
  border-color: #F9AB1B;
}
.oracle-heading {
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  font-size: 48px;
  line-height: 180%;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  position: relative;
  z-index: 99;
}
.oracle-bg-back {
  background-image: url(../images/oracle-bg.png);
  padding: 160px 0 80px;
  position: relative;
  transform: translateY(-70px);
  -webkit-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  z-index: 1;
}
/* Header CSS */
header {
  background-color: transparent;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
header.inner-page-header {
  position: relative;
  background-color: #ffffff;
}
header.fixed {
  position: fixed;
  background-color: #ffffff;
}
header.fixed .site-menu > li {
  line-height: 60px;
}
header .container {
  height: 100%;
}
header .container .header-inner-wrapper {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
}
header.fixed .site-menu > li > a, header.inner-page-header .site-menu > li > a {
  color: #727272;
}
header.fixed .right-side-click svg path, header.inner-page-header .right-side-click svg path, header.fixed .mobile-menu-click svg path, header.inner-page-header .mobile-menu-click svg path {
  stroke: #727272;
}
.site-logo img {
  height: 70px;
  max-width: 100%;
}
.site-menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-menu > li {
  line-height: 80px;
  padding: 0 5px;
  position: relative;
}
.site-menu > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  padding: 0 20px;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
header.fixed .site-menu > li:hover > a, header.fixed .site-menu > li.active > a {
  color: #0170B9 !important;
}
.site-menu > li:hover > a, .site-menu > li.active > a {
  color: #0170B9 !important;
}
.site-menu > li > .dropdown-item-list {
  position: absolute;
  width: 215px;
  top: 50%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  left: 0;
  background-color: #fff;
  border-top: 3px solid #1f7dc1;
  transition: top 0.15s ease-out;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  -ms-transition: top 0.15s ease-out;
  -o-transition: top 0.15s ease-out;
  overflow: hidden;
  box-shadow: 0 1px 6px rgba(251, 251, 254, .2);
}
.site-menu > li:hover > .dropdown-item-list {
  visibility: visible;
  opacity: 1;
  top: 100%;
  height: auto;
}
.dropdown-item-list li {
  line-height: 1;
  margin: 20px 0;
}
.dropdown-item-list li a {
  line-height: 22px;
  display: block;
  color: #969696;
  height: auto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  padding: 0 30px;
  position: relative;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.dropdown-item-list li:hover a {
  color: #1f7dc1;
  padding-left: 40px;
}
.right-side-click {
  padding-left: 1.2rem;
  margin-left: 0.3rem;
  border-left: 1px solid #dddddd;
  cursor: pointer;
}
.right-side-drawer {
  position: fixed;
  visibility: visible;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 470px;
  right: -470px;
  height: 100%;
  top: 0;
  z-index: 9999;
  -webkit-transition:
    left 0.2s ease, right 0.2s ease;
  -moz-transition:
    left 0.2s ease, right 0.2s ease;
  -o-transition:
    left 0.2s ease, right 0.2s ease;
  transition:
    left 0.2s ease, right 0.2s ease;
  background-image: url(../images/sidearea.png);
}
.right-side-drawer.active {}
.side-logo {
  display: block;
  text-align: center;
  cursor: pointer;
}
.side-logo img {
  height: 70px;
}
.content p {
  font-size: 14px;
  line-height: 23px;
  color: #797979;
  font-weight: 500;
}
.right-side-drawer h3 {
  font-size: 22px;
  line-height: 1.2em;
  font-weight: 700;
}
.right-side-drawer .address p {
  color: #287dc1;
  line-height: 20px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}
.close-right-side-drawer {
  display: inline-block;
}
.close-right-side-drawer img {
  height: 25px;
}
.mobile-menu-click, .site-menu-close {
  display: none;
}
.site-menu-close {
  display: none;
}
@media (max-width: 767px) {
  .mobile-menu-click {
    display: inline-block;
    margin-right: 0rem;
  }
  .right-side-click {
    display: none;
  }
  .site-menu {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 99;
    background-color: #ffffff;
    top: 0;
    left: 0;
    flex-direction: column;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
  }
  .site-menu.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  .site-menu-close {
    display: inline-block;
    text-align: right;
    width: 100%;
    padding: 1rem 1rem 0 0;
  }
  .site-menu-close img {
    height: 25px;
  }
  .site-menu > li > .dropdown-item-list {
    position: static;
    width: 100%;
    border-top: 0;
  }
  header .site-menu > li {
    line-height: 0px !important;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  header .site-menu > li > a {
    border-bottom: 1px solid #ccc !important;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    line-height: 50px !important;
    color: #212121 !important;
  }
  .site-menu > li:hover > a, .site-menu > li.active > a {
    background-color: transparent;
    color: #212121 !important;
  }
}
/* Slider CSS */
.card-abs-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.427);
  z-index: 99;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
}
.card-downlaod {
  height: 100%;
}
.card-downlaod:hover .card-abs-layer {
  visibility: visible;
  opacity: 1;
}
/* Footer */
.footer-top {
  background-color: #ffffff;
  padding: 2rem 0;
	border-top:solid 2px #f2f2f2;
}
.footer-bottom {
  background-color: #2B313C;
  padding: 1.5rem 0;
}
.footer-bottom p {
  padding-bottom: 0;
  color: #fff;
  margin-bottom: 0;
}
.footer-heading {
  color: #fcac1b;
  font-size: 24px;
  font-weight: 800;
  line-height: 35px;
}
.quick-link li a {
  font-size: 16px;
  color: #333333;
  line-height: 28px;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
}
.footer-logo img {
  height: 50px;
  max-width: auto;
}
.card-opinings {
  height: 100%;
}
.card-opinings p {
  font-size: 18px;
}
.card-opinings h4 {
  font-weight: 600;
  font-size: 20px;
  min-height: 60px;
}
.card-opinings .description p {
  font-size: 16px;
  max-height: 100px;
}
.job-desc ol, .job-desc ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.job-desc ul {
  list-style: disc;
}
.job-desc li {
  font-size: 16px;
  line-height: 32px;
  color: #797979;
}
.job-desc h4 {
  margin: 1.5rem 0;
  font-size: 18px;
  font-weight: 600;
}
.oracle-group {
  text-align: center;
}
.oracle-group img {
  height: 100px;
}
.oracle-group h3 {
  font-size: 21px;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  .page-title {
    font-size: 24px;
    line-height: 160%;
  }
  .section-heading {
    font-size: 21px;
    line-height: 160%;
  }
}
.tab-click-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.tab-click-list::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  right: -30px;
  top: 0;
  z-index: 99;
  background-color: #797979;
}
.tab-click-list li {
  font-size: 18px;
  line-height: 160%;
  padding: 2rem 0;
  text-align: right;
  color: #797979;
  position: relative;
  cursor: pointer;
}
.tab-click-list li::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #797979;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  right: -38.5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 99;
}
.description li {
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  color: #797979;
  font-size: 16px;
}
.tab-click-list li.active {
  color: #0170B9;
}
.tab-click-list li.active::after {
  background-color: #0170B9;
}
.tab-content-desc {
  display: none;
}
@media (max-width: 767px) {
  .tab-click-list {
    margin-right: 0px;
    padding-left: 30px;
    padding-bottom: 1rem;
  }
  .tab-click-list::before {
    right: auto;
    left: 30px;
  }
  .tab-click-list li {
    text-align: left;
    padding-left: 30px;
  }
  .tab-click-list li::after {
    right: auto;
    left: -9.5px;
  }
  .oracle-heading {
    font-size: 20px;
  }
  .oracle-bg-back {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  .oracle-group img {
    height: 60px;
  }
  .oracle-group h3 {
    font-size: 16px;
  }
  .oracle-group {
    margin-bottom: 1.5rem;
  }
  .oracle-bg-back {
    padding: 20px 0;
  }
}
.inner-page-banner {
  min-height: 350px;
}
@media (max-width:990px) {
  .inner-page-banner {
    min-height: inherit;
  }
  .blue-bg .col-lg-6 {
    margin-bottom: 20px;
  }
}
.description strong{
	color: #000;
}
.social-media-link{
	display:flex;
}
.social-media-link .icons{ 
	margin-right: 10px;
}
.thankyoupage{
	margin-top:50px;
	margin-bottom: 100px;
}

.home-page{
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/home-banner1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.text-white{
  color: #ffffff;
}
.bannerHeading{
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1.2px;
  text-align: center;
  font-weight: 800;
}
.btn-homeBanner{
  background-color: #2C7FFB;
  color: #ffffff;
  font-size: 16px;
  padding: 0.4rem 2rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.card-img-custom{
  width: 160px;
  height: 160px;
}
.fixed-g-section{
  background-image: url(../images/fixed-bg.jpg);
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
}
.roundedBox{
	background: #F2F4F6;
	border-radius: 15px;
}
@media (max-width:990px){
	.home-page{ 
  background-image: url("../images/home-banner-mobile1.jpg"); 
} 
	.home-page{
		position: relative;
	}
	.bannerContent{
		position: absolute;
		bottom: 30px;
	}
}

@media (max-width: 767px) {
  .home-page{
      min-height: 100vh;
      height: auto;
      padding-top: 2.5rem;
  }
  .bannerHeading{
    font-size: 28px;
    line-height: 36px;
  }
  .mb-responsive-b{
    margin-bottom: 1.5rem;
  }
}
